node_modules
dist
.env
.env.test
.env.local
.env.production
tsconfig.build.tsbuildinfo
*.log
coverage
.DS_Store

# Credentials and sensitive files
src/configs/credentials/*.json
!src/configs/credentials/.gitkeep
